p {
  color: red;
  text-align: center;
}

h1 {
  color: blue;
  text-align: center;
}

body {
    border: 8px solid black;
    display: flex;
    justify-content: center;
}

.box{
    height: 100px;
    width: 100px;
    background-color: gold;
    font-size:large
}