*{
    background-color:#E9E9E9;
    color: #121212;
    font-family: "Inter", sans-serif;
}

/*header section*/

header{ /*container for the header items*/
    display:flex;
    width:auto;
    height:5vh;

    align-items:center;

    /* for debugging*/
    border:2px;
    border-style:solid;
}

header > headerDropContainer{ /*container that contains text for drop down*/
    display:flex;

    margin-left:90%;

    border:2px;
    border-style:solid;
}

.dropdown{
    position:relative;
}

/*footer section*/
